#root {
  height: 100%;
  background-color: #f3fbfb;
  margin: 0 auto;
}
.textError {
  color: red;
}
.text {
  color: #052d75;
}
.textSecondary {
  color: #9f9f9f;
}
.rowContainer{
  margin: 0 auto;
  padding: 15px;
}
 